/**
 * @theme ceedcv_pres 
*/

@import 'gaia';
:root{
    --color-foreground: rgba(237,110,81,0.9);
    color: black;
    padding:2em;
    /* font-size: 2em; */
    font-size: 2rem;     
}

section {
    background: url('./themes/bg.svg') #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

section.lead {
    padding-top: 6.5em;
    background: rgba(237,110,81,1) url('./themes/lead.png');
    background-size:cover;
}
section.lead h1,
section.lead h2,
section.lead p {
    text-align:left;
    color:black;
}

section.lead h1 {
    font-size:1.6em;
}

section.lead h2 {
    font-size:0.99em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

section.lead strong,
section.lead em {
    color:black;
}

section.final {
    background: rgba(237,110,81,1) url('./themes/end.png');
    background-size: cover;  
}

.header-line{
        position: relative;
        bottom:0.5em;
        border-bottom: 0.05em solid FireBrick !important; 
}

.footer-line{
        position: relative;
        top:0.5em;
        border-bottom: 0.05em solid FireBrick !important;
}

header,footer{
   color: FireBrick;
   font-size: 0.7em;
}

header{
   text-align:right;
}

section::after {
   color: FireBrick;
   font-size: 0.7em;
}

.hdt {
   text-align:left;
   position: absolute;
   top: 0.9em;
   left: 1.1em;
   color: FireBrick;
   font-size: 0.7em;
}

.center {
   text-align: center;
}

.column {
    column-count: 2;
  }

.side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
} 

h1,
h2,
h3,
h4,
h5
 {
    color: rgba(237,110,81,1);
}

hr {
    border-bottom: 0.5em solid rgba(237,110,81,1) !important;
}



h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

h5 {
    margin-top:0.3em;
    margin-bottom:0.3em;

}

section.lead p {
    font-size:0.75em;
}

section.sm1 ul,
section.sm1 ol,
section.sm1 p {
    font-size:0.95em;
    margin-top:0.8em;
    margin-bottom:0.8em;
}

section.sm2 ul,
section.sm2 ol,
section.sm2 p {
    font-size:0.9em;
    margin-top:0.7em;
    margin-bottom:0.7em;

}

section.sm3 ul,
section.sm3 ol,
section.sm3 p {
    font-size:0.85em;
    margin-top:0.6em;
    margin-bottom:0.6em;
}

section.sm4 ul,
section.sm4 ol,
section.sm4 p {
    font-size:0.8em;
    margin-top:0.6em;
    margin-bottom:0.6em;
}

div.sideMenu>ul:first-of-type,
div.sideMenu>ul:first-of-type ul {
    list-style-type: none;
}

pre {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid rgba(237,110,81,1);
    border-radius: 3px;
    overflow: auto;
    padding: 5px;
}

pre code {
    background-color: inherit;
    color: black;
    border: none;
    padding: 0;
}

code {
    background-color: #f8f8f8;
    color: rgba(237,110,81,1);
    border: 1px solid rgba(237,110,81,1);
    border-radius: 3px;
    padding: 0 0.2em;
}

blockquote {
    background-color: rgba(237,110,81,0.1);
    border-left: 5px double rgba(237,55,40,1);
    color: rgba(237,55,40,1); 
}

blockquote em,
blockquote strong {
    color: rgba(237,55,40,1);
}

tr,
img,
blockquote {
    page-break-inside: avoid;
}

img,
canvas,
iframe,
video,
select,
textarea {
    max-width: 99% !important;
    display: block;
    margin: 0 auto;
}

a,
a:visited {
    color: rgba(237,110,81,1);
    text-decoration: underline;
}

a:hover,
a:focus,
a:active {
    color: OrangeRed;
}

ul, ol {
    padding-left: 30px;
}

li {
    margin: 0.2em 0 0 0em; padding: 0px;
}

em {
    color: rgba(237,110,81,1);
}

strong {
    color: rgba(237,110,81,1);
    font-weight: bold;
}

mark {
    background-color: rgba(237,110,81,0.9);
    color: black;
}

table{
background: white;
margin: 0.5em auto;
box-shadow: 2px 2px;
font-size: 0.7em;
}

table+p {margin-top: 0.5em;} 
